.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.outer1{
    /* border: 1px solid; */
    width: 60%;
}

.outer2{
    border: 1px solid;
}

body{
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #EEF5FF;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.bg-container{
    flex-basis: 70%;
    height: 65vh;
    background-color: #FFFFFF;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
}

.bg-image-container{
    background-image: url("assets/images/bg-sidebar-desktop.svg");
    background-size: cover;
    background-position: left;
    height: 60vh;
    /* border: 1px solid; */
    flex-basis: 28%;
    margin: 1rem;
    /* height: 100vh; */
    border-radius: 1rem;
    background-repeat: no-repeat;
}

.info-container{
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-basis: 55%;
}

.main-heading{
    font-family: "Ubuntu";
    color: #012956;

}

.details-info{
    color: #ADAEB4;
    font-family: "Ubuntu";
    /* text-align: center; */
}

.details-info-thankyou{
    color: #ADAEB4;
    font-family: "Ubuntu";
    text-align: center;
}

.personal-info-container{
    margin-top: 2rem;
}

.signup-form {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 5rem 5rem;
}

.form-group {
    /* margin-bottom: 2rem; */
    /* padding-right: auto; */
    display: flex;
    flex-direction: column;
    line-height: 0;
}

.error-message {
    color: red;
    font-size: 16px;
    margin-top: 1.4rem;
    /* margin-bottom: 0.5rem; */
    text-align: right;
    font-family: "Ubuntu";
}

input {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    /* padding-right: 15rem; */
    width: 26.5rem;
    border: 1px solid #ccc;
    border-radius: 3px;
    height: 2rem;
    font-size: 1rem;
    padding-left: 1rem;
    font-family: "Ubuntu";
    border-radius: 0.25rem;
}

.each-info{
    font-weight: 400;
    color: #012956;
    font-family: "Ubuntu";
}

.form-list{
    display: flex;
    justify-content: space-between;
}

.button-container{
    justify-self: flex-end;
    /* border: 1px solid; */
    display: flex;
    justify-content: flex-end;
    margin-top: 3rem;
    width: 27.5rem;
}

.next-button{
    padding: 0.8rem 1.4rem 0.8rem 1.4rem;
    background-color: #012956;
    color: #FFFFFF;
    border-radius: 0.3rem;
    border-width: 0px;
    font-family: "Ubuntu";
    font-weight: 500;
    cursor: pointer;
}

/* CSS RULESTES STEP PART */

.each-step{
    display: flex;
    margin-left: 2rem;
}

.step-info{
    line-height: 0px;
    margin-left: 1rem;
    margin-top: 0.7rem;
}

.number1{
    padding: 0.8rem 1rem 0.8rem 1rem;
    border-radius: 50%;
    background-color: #BCDFFC;
    color: #012956;
    font-weight: 600;
}

.number2{
    border: 1px solid #FFFFFF;
    padding: 0.8rem 1rem 0.8rem 1rem;
    border-radius: 50%;
    background-color: transparent;
    color: #FFFFFF;
    font-weight: 600;
}

.number3{
    border: 1px solid #FFFFFF;
    padding: 0.8rem 1rem 0.8rem 1rem;
    border-radius: 50%;
    background-color: transparent;
    color: #FFFFFF;
    font-weight: 600;
}

.number4{
    border: 1px solid #FFFFFF;
    padding: 0.8rem 1rem 0.8rem 1rem;
    border-radius: 50%;
    background-color: transparent;
    color: #FFFFFF;
    font-weight: 600;
}

.number1-text{
    padding: 0.8rem 1rem 0.8rem 1rem;
    border-radius: 50%;
    background-color: #BCDFFC;
    color: #012956;
    font-weight: 600;
}

.number2-text{
    border: 1px solid #FFFFFF;
    padding: 0.8rem 1rem 0.8rem 1rem;
    border-radius: 50%;
    background-color: transparent;
    color: #FFFFFF;
    font-weight: 600;
}

.number3-text{
    border: 1px solid #FFFFFF;
    padding: 0.8rem 1rem 0.8rem 1rem;
    border-radius: 50%;
    background-color: transparent;
    color: #FFFFFF;
    font-weight: 600;
}

.number4-text{
    border: 1px solid #FFFFFF;
    padding: 0.8rem 1rem 0.8rem 1rem;
    border-radius: 50%;
    background-color: transparent;
    color: #FFFFFF;
    font-weight: 600;
}

.step-number{
    color: #9B9AFF;
    font-family: "Ubuntu";
    font-size: 0.8rem;
}

.step-heading{
    color: #FFFFFF;
    font-family: "Ubuntu";
}

/* second page css rule sets */

.select-your-plan-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-basis: 55%;
}

.plan-types-container{
    display: flex;
}

.each-type-container{
    width: 7rem;
    height: 10.5rem;
    border: 1px solid;
    margin-top: 1.5rem;
    padding-left: 1rem;
    padding-top: 1rem;
    margin-right: 1rem;
    border-radius: 0.7rem;
}

.type-info{
    margin-top: 2rem;
}

.type-info{
    color: #012956;
    font-family: "Ubuntu";
    font-size: 1rem;
}

.free{
    margin-top: 0.5rem;
}

/* css code for toggle */

.container{
    width : 15%;
    height : 20%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    background-color: #F7F7FF;
    margin-top: 0.8rem;
  }
  
.toggle-button{
    background-color: #012956;
    width: 75px;
    height: 36px;
    border-radius: 60px; 
    cursor: pointer;
    position: relative;
    transition: 0.2s;
}

.toggle-button::before{
    position: absolute;
    content: '';
    background-color: #fff;
    width: 32px;
    height: 31px;
    border-radius: 60px;
    margin: 2px;
    transition: 0.2s;
}

.toggle-input:checked + .toggle-button{
    background-color: #012956;

}

.toggle-input:checked + .toggle-button::before{
    transform: translateX(28px);

}

.toggle-input{
    display: none;
}

.toggle-container{
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
    width: 26.5rem;
    background-color: #F8F9FE;
    border-radius: 1rem;
 }

.page2-button-container{
    display: flex;
    justify-content: space-between;
    width: 26.5rem;
    margin-top: 3rem;
}

.select-plan-error-message{
    color: red;
    font-size: 16px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
    font-family: "Ubuntu";
    width: 26.5rem;
}

input:hover{
    border-color: var(--Pastel-blue);
}

#each-type-container:hover {
    border-color: blue;
}

.goback-button{
    color: #BCBCC7;
    border-width: 0px;
    font-family: "Ubuntu";
    font-size: 1rem;
    background-color: #FFFFFF;
}


.pick-type-container{
    border: 1px solid;
    display: flex;
    flex-direction: column;
    height: 4.5rem;
    justify-content: center;
    width: 26.5rem;
    border-radius: 0.5rem;
    margin-top: 2.5rem;
    border-color: #ADAEB4;
}

.pick-type-container:hover{
    border-color: #685FFB;
}

.pick-type{
    display: flex;
    justify-content: space-between;
}

.pick-checkbox{
    display: flex;
}

.pick{
    width: 1rem;
    height: 1rem;
    margin-top: 1.4rem;
    border-color: #ADAEB4;
    margin-left: 1rem;
}

.pick-info{
    margin-left: 1.5rem;
    margin-top: 1rem;
    line-height: 5px;
}

.pick-info label{
    color: #012956;
    font-weight: 500;
    font-family: "Ubuntu";
}

.pick-info p {
    color: #ADAEB4;
    font-family: "Ubuntu";
}

.pick-price{
    margin-right: 1rem;
    margin-top: 1.6rem;
}

#separate{
    margin-top: 1rem;
}

.page3-button-container{
    display: flex;
    justify-content: space-between;
    width: 26.5rem;
    margin-top: 3rem;
}

#price-adjust{
    margin-top: 1rem;
    margin-right: 1rem;
    color: #9C95F2;
}
/* 4th page css rulesets */

.finish-container{
    flex-basis: 55%;
}
.selected-plan-container{
    /* border: 1px solid; */
    display: flex;
    justify-content: space-between;
}
#total{
    /* border: 1px solid; */
    width: 30rem;
    display: flex;
    justify-content: space-between;
    padding: -2rem;
}
.page4-button-container{
    width: 30.5rem;
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
}

#change-plan{
    border-width: 0px;
    background-color: #F8F9FE;
    text-decoration: underline;
    color: #ADAEB4;
}

#chage-plan:hover{
    color: #685FFB;
}

.add-on-container{
    display: flex;
    justify-content: space-between;
}

.add-ons-page-container{
    flex-basis: 55%;
}

.step4-container{
    background-color: #F8F9FE;
    border-radius: 0.5rem;
    width: 26.5rem;
    padding: 2rem 2rem 0 2rem;
}

.selected-plan-type{
    color: #012956;
    font-family: "Ubuntu";
    font-weight: 600;
}

.selected-plan-price{
    color: #012956;
    font-family: "Ubuntu";
    font-weight: 600;
}

.add-on-type{
    color: #ADAEB4;
    font-weight: 500;
}

.add-on-type-price{
    color: #012956;
}

.total-price{
    color: #685FFB;
    font-weight: 600;
    font-family: "Ubuntu";
}
/* thankyou page css */
.thank-you-container{
    flex-basis: 60%;
}

.thankyou-items-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
}
.mobile-number-container{
    display: none;
}
.mobile-footer{
    display: none;
}
/* mobile css */

@media all and (max-width: 375px) {
    .bg-image-container{
        display: none;
    }
    
    body{
        background-image: url("assets/images/bg-sidebar-mobile.svg");
        background-repeat: no-repeat;
        background-position: top;
        background-size: contain;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        position: relative;
    }
    .mobile-number-container{
        width: 50vw;
        display: block;
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
        margin-top: -5rem;
    }
    .info-container{
        width: 20rem;
        padding-left: 1rem;
    }

    input{
        width: 17rem;
    }

    .button-container{
        width: 20rem;
        position: absolute;
        bottom: 0rem;
        left: 0;
        padding-right: 3.2rem;
        height: 3rem;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        background-color: #FFFFFF;
    }

    .next-button{
        height: 3rem;
    }

    .error-message{
        padding-right: 2rem;
    }

    /* step-2 */
    .select-your-plan-container{
        width: 20rem;
        padding-left: 1rem;
        height: 40rem;
        background-color: #FFFFFF;
        padding-top: 2rem;
        border-radius: 0.5rem;
    }

    .plan-types-container{
        display: flex;
        flex-direction: column;
    }

    .each-type-container{
        width: 16rem;
        height: 7rem;
        display: flex;
        padding-top: 0rem;
    }

    .type-info{
        margin-top: 0rem;
        margin-left: 1rem;
    }

    .page2-button-container{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 20rem;
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
        padding-right: 3.2rem;
        display: flex;
        justify-content: space-between;
        background-color: #FFFFFF;
    }

    .container {
        width: 100%;
        height: auto; 
        margin-top: 1rem; 
    }
    
    .toggle-button {
        width: 60px; 
        height: 28px; 
    }

    .toggle-button::before {
        width: 26px; 
        height: 25px;
    }

    .toggle-container {
        width: 85%;
        margin-top: 0.5rem;
        border-radius: 0.5rem;
    }

    /* step3 */

    .add-ons-page-container{
        width: 20rem;
    }

    .pick-type-container{
        width: 18rem;
        height: 5rem;
    }

    .pick-info{
        margin-top: 0rem;
        line-height: 3px;
    }

    /* step 3 */
    .add-ons-page-container{
        padding-left: 1rem;
    }
    .page3-button-container{
        position: absolute;
        bottom: 0;
        left: 0;
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
        display: flex;
        justify-content: space-between;
        background-color: #FFFFFF;
    }
    .next-button3{
        margin-right: 2rem;
    }
    .pick-type-container {
      width: 19rem; 
      height: auto; 
      margin-top: 1rem; 
      border-radius: 0.5rem; 
      border-color: #ADAEB4; 
    }
  
    .pick-type {
        display: flex;
    }
  
    .pick-checkbox {
      flex-direction: row; 
      align-items: center;
    }
  
    .pick {
      margin-top: 0.2rem; 
      margin-left: 0.5rem; 
    }
  
    .pick-info {
      margin-left: 0.5rem; 
      margin-top: 0.5rem; 
      line-height: 1.2; 

    }
  
    .pick-info label {
      font-weight: 500;
      font-size: 1rem; 
    }
  
    .pick-info p {
      font-size: 0.9rem; 
    }
  
    .pick-price {
      margin-right: 0; 
      margin-top: 0.5rem; 
    }
  
    #separate {
      margin-top: 1rem; 
    }
  
    .page3-button-container {
      width: 100%; 
      margin-top: 2rem;
    }
  
    #price-adjust {
      margin-top: 1.5rem; 
      margin-right: 0.3rem;
    }
  
    .finish-container{
        width: 22rem;
        padding-left: 1rem;
    }

    /* step 4 */

    .page4-button-container{
        position: absolute;
        bottom: 0;
        left: 0;
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
        display: flex;
        justify-content: space-between;
        background-color: #FFFFFF;
        width: 100%; 
        margin-top: 2rem;
    }

    .step4-container{
        width: 17rem;
    }

    #total{
        width: 100%;
        margin-top: 1rem;
    }

    /* step5 */
    #thank-you-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20%;
        padding-left: 20%;
    }
}